
    <div class="container">
        <div class="row text-center" id="heading">
            <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
                <h3>Quienes somos</h3>
                <p>Conozca mas acerca de Bufalo Tech</p>
                <hr class="full">
                <br/>
            </div>
        </div>	<!-- row -->
        <div class="row about-us-text">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    <!--
                    Founded in 2012, B is a Argentine provider of IT consulting services and custom software development with 50+ clients around the word.

We are a team of techies experts with a wealth of experience on open source technologies, mobile development, design, IT consulting and agile methodologies.


We have a strong commitment to contribute to the open source community by helping in the development of the tools we use and spreading our knowledge.
-->

                Fundada en 2012, Bufalo Tech es un proveedor argentino de servicios de consultoría IT y
                    desarrollo de software a medida, contando con clientes en todo el mundo.
                 <br>
                Somos un equipo de expertos con gran experiencia en tecnologías
                    open source, desarrollo móvil, diseño, consultoría IT y metodologías ágiles.
                    <br>
                    Nuestra experiencia combinada con la relación con nuestros clientes y
                    trabajo en equipo bajo metodolgías agiles ha logrado optimizar resultados y mejorar
                    el negocio de nuestros clientes, siempre con el éxito garantizado.
                    <br>
                    Tenemos un fuerte compromiso de contribuir con la comunidad de código abierto
                    ayudando en el desarrollo de las herramientas que usamos y difundiendo nuestro conocimiento.
                </p>
            </div>
        </div>	<!-- row -->
    </div>	<!-- container -->
