<div class= "container">
    <div class="row text-center" id= "heading">
        <div class= "bg-image">
            <div class= "col-lg-6 col-lg-offset-3 share-text wow animated zoomInDown" id= "heading-text">
                <h3 class= "text-center">Contáctese con nosotros</h3>
                <hr class= "full">
                <br/>
            </div>
        </div>
    </div>
    <div class= "row  main_content">
        <div class= "col-md-6 contact">
            <ul>
                <li>
                    <span><i class="fa fa-envelope"></i></span>
                    <strong>Consultas</strong><br>
                    <a href="mailto:hola@bufalo.tech">hola@bufalo.tech</a>
                </li>
                <li>
                    <span><i class="fa fa-phone"></i></span>
                    <strong>Teléfono</strong><br>
                    +549 3413396277
                </li>
                <li>
                    <a class="btn calendly-link" href="https://calendly.com/bufalo-tech/reunion-programada" target="_blank">¿Hablamos?</a>
                </li>
            </ul>
        </div>

        <div class= "col-md-6 ">
            <form class="contact_form">
                <div class= "form">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon">
                            <i class="fa fa-user fa-fw"></i>
                        </span>
                        <input class="form-control contact_name" name="name" placeholder="Nombre" required>
                    </div>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope-o fa-fw"></i>
                        </span>
                        <input class="form-control contact_email" name="email" placeholder="Email" required>
                    </div>
                </div>
                <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon">
                            <i class="fa fa-comment-o fa-fw"></i>
                        </span>
                    <textarea name="message" class="form-control contact_message" rows="6" type= "text" placeholder="Tu mensaje" required></textarea>
                </div>
                <input type="text" name="_gotcha" style="display:none" />
                <input class="btn btn-primary contact_send" type="submit" value="Enviar consulta">
            </form>
        </div>

    </div>
</div>