<div class= "container">
    <div class="row text-center" id= "heading">
        <div class= "bg-image">
            <div class= "col-lg-6 col-lg-offset-3 share-text wow animated zoomInDown" id= "heading-text">
                <h3 class= "text-center">Contáctese con nosotros</h3>
                <hr class= "full">
                <br/>
            </div>
        </div>
    </div>
    <div class= "row  main_content">
        <div class= "col-md-6 contact">
            <ul>
                <li>
                    <span><i class="fa fa-envelope"></i></span>
                    <strong>Consultas</strong><br>
                    <a href="mailto:hola@bufalo.tech">hola@bufalo.tech</a>
                </li>
                <li>
                    <span><i class="fa fa-phone"></i></span>
                    <strong>Teléfono</strong><br>
                    3413396277
                </li>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.4255746576973!2d-60.67313758513217!3d-32.93977178092314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab5715c1107f%3A0x2b5ed69f0f710ae3!2sRosario+Santa+Fe!5e0!3m2!1ses-419!2sar!4v1516549171920" width="600" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </ul>
        </div>

        <div class= "col-md-6 ">
            <form method="post" action="#" class="contact_form">
                <div class= "form">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon">
                            <i class="fa fa-user fa-fw"></i>
                        </span>
                        <input class="form-control contact_name" type="text" placeholder="Nombre" required>
                    </div>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope-o fa-fw"></i>
                        </span>
                        <input class="form-control contact_email" type="text" placeholder="Email" required>
                    </div>
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon">
                            <i class="fa fa-tags fa-fw"></i>
                        </span>
                        <input class="form-control contact_subject" type="text" placeholder="Asunto">
                    </div>
                </div>
                <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon">
                            <i class="fa fa-comment-o fa-fw"></i>
                        </span>
                    <textarea class="form-control contact_message" rows="6" type= "text" placeholder="Tu mensaje" required></textarea>
                </div>
                <input class="btn btn-primary contact_send" type="submit" value="Enviar consulta">
            </form>
        </div>

    </div>
</div>