<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><a href="#"> BUFALO TECH </a></h2>
            </div>
            <div class="col-sm-2">
                <h5>La empresa</h5>
                <ul>
                    <li><a href="#about">Quienes somos</a></li>
                    <li><a href="#team">Equipo</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Servicios</h5>
                <ul>
                    <li><a href="#our_service">Servicios</a></li>
                    <li><a href="#">Tecnologías</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Clientes</h5>
                <ul>
                    <li><a href="#clients">Nuestros clientes</a></li>
                    <li><a href="#testimonial">Testimonios</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="mailto:hola@bufalo.tech"><i class="fa fa-envelope"></i></a>
                    <a href="#" ><i class="fa fa-facebook"></i></a>
                    <a href="#" ><i class="fa fa-skype"></i></a>
                    <a href="#" ><i class="fa fa-linkedin"></i></a>
                </div>
                <a href="#contact" class="btn btn-default">Contactenos</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2016 Copyright Bufalo Tech </p>
    </div>
</footer>