    <div class="container">
        <div class="row text-center" id="heading">
            <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
                <h3>Te estamos buscando</h3>
                <hr class="full">
                <br/>
            </div>
        </div>	<!-- row -->
        <div class="row about-us-text">
            <div class="col-md-12 text-center" >
                <h1 class="hiring-title">¡SUMATE AL TEAM BÚFALO!</h1>
                <h2 class="hiring-title">¡Sé parte del equipo!</h2><br><br>
                <input type="submit" class="btn btn-cv" value="Cargar tu CV">
            </div>
        </div>	<!-- row -->
    </div>	<!-- container -->
