<div id="wrapper">
    <div id="overlay-1">
        <section id= "navigation">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="ion-navicon"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            BÚFALO
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#our_service">Servicios</a></li>
                            <li><a href="#technologies">Tecnologías</a></li>
                            <li><a href="#about">Quienes somos</a></li>
                            <li><a href="#team">Equipo</a></li>
                            <li><a href="#clients">Clientes</a></li>
                            <li><a href="#testimonial">Testimonios</a></li>
                            <li><a href="#contact">Contacto</a></li>
                        </ul>
                    </div>	<!-- collapse navbar-collapse -->
                </div>	<!-- container-fluid -->
            </nav>	<!-- navbar -->
        </section>	<!-- #navigation -->
        <section id="starting">
            <div class="text-center starting-text">
                <h1 class="rene logo">
                    <img src="img/logo_bufalo_w.png">
                </h1>
                <h2>
                    Somos mucho mas que una empresa de software.
                </h2>
                <a class="btn btn-success" href="#contact">Consultas</a>
                <a class="btn btn-primary" href="#about">Mas información</a>
            </div>
            </div>
        </section>
        <div id="bottom" class="bottom text-center">
            <a href="#about"><i class="ion-ios7-arrow-down"></i></a>
        </div>
    </div><!-- overlay-1 -->
</div>	<!-- wrapper -->
