<div class="your-team-container">
    <div class= "row main_content">
        <div class="row">

            <div class="col-md-4">
                <h1 class="neashore-title">Nearshore IT Staffing</h1>
                <a class="btn calendly-link" href="https://calendly.com/bufalo-tech/reunion-programada" target="_blank">¿Hablamos?</a>
            </div>

            <div class="col-md-8 neashore-title-block">
                <h1 class="neashore-subtitle"><span class="nearshore-services">ARMAMOS</span> o <span class="nearshore-services">EXPANDIMOS</span> tu equipo IT.</h1>
                <span class="neashore-desc">
                    Nos encargamos de que tengas a los mejores talentos de la industria IT de la región en tu equipo, de forma rápida, de calidad y sin riesgos.                
                </span>

                <div class="row service-cards">
                    <div class="col-md-3">
                        <div class="panel panel-default service-card">
                            <div class="panel-body">
                                <i class="fa fa-clock-o fa-5x " aria-hidden="true" ></i>
                                <h5>LATAM Timezone</h5>
                            </div>
                        </div>        
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default service-card">
                            <div class="panel-body">
                                <i class="fa fa-clock-o fa-5x " aria-hidden="true" ></i>
                                <h5>Europe Timezone</h5>
                            </div>
                        </div>        
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default service-card">
                            <div class="panel-body">
                                <i class="fa fa-comments fa-5x" aria-hidden="true" ></i>
                                <h5>Staff Bilingue</h5>
                            </div>
                        </div>        
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default service-card">
                            <div class="panel-body">
                                <i class="fa fa-certificate fa-5x" aria-hidden="true" ></i>
                                <h5>Garantía</h5>
                            </div>
                        </div>        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
